  <td align='center'>
    {{moment-format score.date 'DD-MM-YYYY'}}
  </td>
  <td align='center'>
    {{score.result}}
  </td>
  <td align='center'>
    {{score.sport.name}}
  </td>
  <td align='center'>
    {{score.classRoom.name}}
  </td>
  <td align='center'>
    {{score.pupil.name}}
  </td>